@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Google Sans Code", sans-serif;
}

.important {
    font-weight: bold;
    background: linear-gradient(90deg, #ff2600, #ff5100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For Firefox */
    color: transparent;
}

.header {
    font-weight: bold;
    font-size: 42px;
    font-family: "Google Sans Code", sans-serif;

    align-self: center;
    justify-self: center;

    background-color: #e0e0e0; /* Light grey */
    border-radius: 10px;
    padding: 20px;

    border-width: 5px;
    border-style: solid;
    border-color: linear-gradient(90deg, #ff2600, #ff5100); /* Dark red */
}